.analytics-container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.chart-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-box {
    width: 45%;
    padding: 20px;
}